    <div class="container">
      <div class="card m-3">
        <div class="card-body">
          <h1 align="center">About Us</h1>
          <p class="content">
            Welcome to StudLUG! We are a LUG (A LEGO Users Group) - a group of LEGO enthusiasts who meet regularly to discuss 
            our hobby and participate in collaborative activities. This LUG showcases the works of many great MOC builders that 
            centers almost entirely around the LEGO Star Wars Brand! We are also sponsored by the amazing Firestar toys where you 
            can use code "ambrstuds15" for 15% off your entire order at 
            <a href="http://www.firestartoys.com" target="_blank" rel="noopener noreferrer">firestartoys.com</a>.
          </p>
        </div>
      </div>    
    </div>

    <div class="container">
      <div class="card m-3">
        <div class="card-body">
          <h1 align="center">Our Discord Server</h1>
          <p align="center">
            <!-- <iframe src="https://discordapp.com/widget?id=831241969481023519&theme=dark" width="500" height="350" allowtransparency="true" frameborder="0"></iframe> -->
            <i>Coming soon...</i>
          </p>
        </div>
      </div>    
    </div>

    <div class="container">
      <div class="card m-3">
        <div class="card-body">
          <h1 align="center">Recent Member Work</h1>
          <div id="recent-member-work">
            <!--POSTS INSERTED HERE-->
          </div>
        </div>
      </div>
    </div>